<section>
<div>
    <h1>Welcome, {{username}}</h1>
</div>
<div> 
  <form  class="new-post-form d-flex align-items-center justify-content-center flex-column border h-75">
    <h3>Add a post!</h3>
  <div class="mb-3">
    <label  for="title" class="form-label">Title</label>
    <input type="text" name="title-name" class="form-control" id="title-name">
  </div>
  <div class="mb-3">
    <label for="text" class="form-label">Text</label>
    <textarea name="text" type="text" class="form-control" id="text-desc" rows="5"></textarea>
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
</div>
</section>

<script src="js/post.js"></script>